.associate{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 90px;
     img{
          width: 8%;
          transition: all 0.5s ease-in-out;
          padding: 10px;
          border-radius: 50%;
     }
     img:hover{
          transform: scale(1.050);
          box-shadow: 0 0 10px 1px rgb(235, 235, 235);
     }
}