:root {
  --color1: #e60013;
  --color2: #ecf9fc;
  --color3: #1e1e1e;
  --color4: #fff6e9;
}
.footer {
  width: 100%;
  background-color: var(--color3);
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    padding: 0px 50px;
  }
  &-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  &-column1 {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 50px;
    ul {
      display: flex;
      gap: 40px;
      li {
        color: var(--color2);
        font-size: 18px;
        button {
          font-size: 16px;
          color: var(--color2);
          background-color: transparent;
          border: none;
          &:hover {
            color: var(--color1);
          }
        }
      }
    }
    .social-icons {
      a {
        color: var(--color2);
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        border: 1px solid var(--color2);
        padding: 1% 2%;
        border-radius: 50%;
        &:hover {
          color: var(--color1);
          background-color: var(--color2);
        }
      }
    }
  }
  &-column2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 50px;
    .subscription {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      a {
        width: 100%;
        font-size: 16px;
        color: var(--color2);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        padding: 10px 0px;
        border-bottom: 1px solid var(--color2);
        &:hover {
          color: var(--color1);
          border-bottom: 1px solid var(--color1);
        }
      }
    }
    .footer-bottom {
      p {
        color: var(--color2);
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1024px) {
  .footer {
    width: 100%;
    background-color: var(--color3);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      gap: 10px;
      padding: 0px 50px;
    }
    &-columns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    }
    &-column1 {
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      gap: 50px;
      ul {
        display: flex;
        gap: 40px;
        li {
          color: var(--color2);
          font-size: 18px;
          button {
            font-size: 16px;
            color: var(--color2);
            background-color: transparent;
            border: none;
            &:hover {
              color: var(--color1);
            }
          }
        }
      }
      .social-icons {
        a {
          color: var(--color2);
          font-size: 20px;
          transition: all 0.3s ease-in-out;
          border: 1px solid var(--color2);
          padding: 1% 2%;
          border-radius: 50%;
          &:hover {
            color: var(--color1);
            background-color: var(--color2);
          }
        }
      }
    }
    &-column2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      gap: 50px;
      .subscription {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        a {
          width: 100%;
          font-size: 16px;
          color: var(--color2);
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          padding: 10px 0px;
          border-bottom: 1px solid var(--color2);
          &:hover {
            color: var(--color1);
            border-bottom: 1px solid var(--color1);
          }
        }
      }
      .footer-bottom {
        p {
          color: var(--color2);
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .footer {
    width: 100%;
    background-color: var(--color3);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 0px 30px;
    }
    &-columns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 60px;
    }
    &-column1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      gap: 50px;
      padding: 0px 15px;
      ul {
        display: flex;
        gap: 40px;
        li {
          color: var(--color2);
          font-size: 18px;
          button {
            font-size: 16px;
            color: var(--color2);
            background-color: transparent;
            border: none;
            &:hover {
              color: var(--color1);
            }
          }
        }
      }
      .social-icons {
        a {
          color: var(--color1);
          background-color: var(--color2);
          font-size: 20px;
          transition: all 0.3s ease-in-out;
          border: 1px solid var(--color2);
          padding: 1% 2%;
          border-radius: 50%;
         
        }
      }
    }
    &-column2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 50px;
      .subscription {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        a {
          width: 100%;
          font-size: 16px;
          color: var(--color2);
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          padding: 10px 0px;
          border-bottom: 1px solid var(--color1);
        }
      }
      .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        p {
          color: var(--color2);
          font-size: 14px;
          text-align: unset;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .footer {
    width: 100%;
    background-color: var(--color3);
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    &-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 0px 30px;
    }
    &-columns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 60px;
    }
    &-column1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: left;
      flex-direction: column;
      gap: 50px;
      padding: 0px 15px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        li {
          color: var(--color2);
          font-size: 18px;
          button {
            font-size: 16px;
            color: var(--color2);
            background-color: transparent;
            border: none;
            &:hover {
              color: var(--color1);
            }
          }
        }
      }
      .social-icons {
        a {
          color: var(--color1);
          background-color: var(--color2);
          font-size: 20px;
          transition: all 0.3s ease-in-out;
          border: 1px solid var(--color2);
          padding: 2% 4%;
          border-radius: 50%;
         
        }
      }
    }
    &-column2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 50px;
      .subscription {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        a {
          width: 100%;
          font-size: 16px;
          color: var(--color2);
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          padding: 10px 0px;
          border-bottom: 1px solid var(--color1);
        }
      }
      .footer-bottom {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        p {
          color: var(--color2);
          font-size: 14px;
          text-align: unset;
        }
      }
    }
  }
}