:root {
  --color1: #e60013;
  --color2: #ecf9fc;
  --color3: #1e1e1e;
  --color4: #fff6e9;
}

.navbar {
  position: relative;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color3);
  border-radius: 0px;
  padding: 5px 40px;
  transition: all 0.5s ease-in-out;
  z-index: 99;
  border: unset;
  &_child-1 {
    a {
      text-decoration: none;
      img {
        width: 20%;
      }
    }
  }
  &_child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    a {
      text-decoration: none;
      color: var(--color2);
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 17px;
      text-transform: capitalize;
      transition: all 0.5s ease-in-out;
      background-color: transparent;
      border: none;
    }
    button {
      color: var(--color2);
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 17px;
      text-transform: capitalize;
      transition: all 0.5s ease-in-out;
      background-color: transparent;
      border: none;
    }
    a:hover {
      color: #b8eaf6;
    }
    button:hover {
      color: #b8eaf6;
    }
  }
  &_wrapper-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .language-dropdown {
      position: relative;
      cursor: pointer;
      color: var(--color3);

      .selected-language {
        display: flex;
        align-items: center;
        gap: 10px;

        .flag-img {
          width: 20px;
          height: 15px;
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 60px;
        right: 0%;
        background-color: var(--color3);
        color: var(--color2);
        border-radius: 5px;
        width: 150px;
        z-index: 999;
        border: 1px solid var(--color2);
        display: none;
        .dropdown-item {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          color: var(--color2);

          &:hover {
            background-color: #2c2b2b;
          }

          .flag-img {
            width: 18px;
            height: 12px;
          }
        }
      }

      &.open .dropdown-menu {
        display: block; /* Show dropdown when open class is added */
      }
    }
    &_child-2 {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    position: relative;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color3);
    border-radius: 0px;
    padding: 5px 40px;
    transition: all 0.5s ease-in-out;
    z-index: 99;
    border: unset;
    &_child-1 {
      a {
        text-decoration: none;
        img {
          width: 20%;
        }
      }
    }
    &_child-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      a {
        text-decoration: none;
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
      button {
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
      a:hover {
        color: #b8eaf6;
      }
      button:hover {
        color: #b8eaf6;
      }
    }
    &_wrapper-3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .language-dropdown {
        position: relative;
        cursor: pointer;
        color: var(--color3);

        .selected-language {
          display: flex;
          align-items: center;
          gap: 10px;

          .flag-img {
            width: 20px;
            height: 15px;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 60px;
          right: 0%;
          background-color: var(--color3);
          color: var(--color2);
          border-radius: 5px;
          width: 150px;
          z-index: 999;
          border: 1px solid var(--color2);
          display: none;

          .dropdown-item {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            color: var(--color2);

            &:hover {
              background-color: #2c2b2b;
            }

            .flag-img {
              width: 18px;
              height: 12px;
            }
          }
        }

        &.open .dropdown-menu {
          display: block; /* Show dropdown when open class is added */
        }
      }
      &_child-2 {
        display: none;
      }
    }
  }
}
@media (max-width: 880px) {
  .navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    transition: all 0.5s ease-in-out;
    background: var(--color3);
    border-radius: 0px;
    z-index: 99;
    &_child-1 {
      a {
        text-decoration: none;
        img {
          width: 16%;
        }
      }
    }
    &_child-2 {
      position: absolute;
      top: 110%;
      height: 0px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      background: var(--color3);
      border: 2px solid var(--color2);
      padding: 20px 50px;
      border-radius: 5px;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      a {
        text-decoration: none;
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
      button {
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
    }
    &_wrapper-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      .language-dropdown {
        position: relative;
        cursor: pointer;
        color: var(--color3);

        .selected-language {
          display: flex;
          align-items: center;
          gap: 10px;

          .flag-img {
            width: 20px;
            height: 15px;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 50px;
          right: 0%;
          background-color: var(--color3);
          color: var(--color2);
          border-radius: 5px;
          width: 150px;
          z-index: 999;
          border: 1px solid var(--color2);
          display: none;

          .dropdown-item {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            color: var(--color2);

            &:hover {
              background-color: #2c2b2b;
            }

            .flag-img {
              width: 18px;
              height: 12px;
            }
          }
        }

        &.open .dropdown-menu {
          display: block;
        }
      }
      &_child-2 {
        display: unset;
        i {
          font-size: 25px;
          color: var(--color2);
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    transition: all 0.5s ease-in-out;
    background: var(--color3);
    border-radius: 0px;
    z-index: 99;
    &_child-1 {
      a {
        text-decoration: none;
        img {
          width: 18%;
        }
      }
    }
    &_child-2 {
      position: absolute;
      top: 110%;
      height: 0px;
      right: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      background: var(--color3);
      border: 2px solid var(--color2);
      border-radius: 5px;
      padding: 10px 40px;
      border-radius: 5px;
      opacity: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      a {
        text-decoration: none;
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
      button {
        color: var(--color2);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        text-transform: capitalize;
        transition: all 0.5s ease-in-out;
        background-color: transparent;
        border: none;
      }
    }
    &_wrapper-3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .language-dropdown {
        position: relative;
        cursor: pointer;
        color: var(--color3);

        .selected-language {
          display: flex;
          align-items: center;
          gap: 10px;

          .flag-img {
            width: 20px;
            height: 15px;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 50px;
          right: 0%;
          background-color: var(--color3);
          color: var(--color2);
          border-radius: 5px;
          width: 150px;
          z-index: 999;
          border: 1px solid var(--color2);
          display: none;

          .dropdown-item {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            color: var(--color2);

            &:hover {
              background-color: #2c2b2b;
            }

            .flag-img {
              width: 18px;
              height: 12px;
            }
          }
        }

        &.open .dropdown-menu {
          display: block;
        }
      }
      &_child-2 {
        display: unset;
        i {
          font-size: 23px;
          color: var(--color2);
        }
      }
    }
  }
}
.sticky {
  width: 98%;
  position: sticky;
  top: 2%;
  border-radius: 50px;
  animation-name: navbar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  border: 2px solid var(--color2);
}
.menuShow {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  height: 350px;
  background: var(--color3);
  border: 2px solid var(--color2);
  border-radius: 20px;
  z-index: 99;
}
.navbar_child-2,
.menuShow {
  z-index: 999;
}
@keyframes navbar {
  0% {
    width: 100%;
    position: sticky;
    top: -150px;
    border-radius: 0px;
    border: none;
  }
  100% {
    position: sticky;
    top: 2%;
    width: 98%;
    border-radius: 50px;
    border: 2px solid var(--color2);
  }
}
