:root {
  --color1: #e60013;
  --color2: #ecf9fc;
  --color3: #1e1e1e;
  --color4: #fff6e9;
}

$schedule-bg: var(--color3);
$text-light: var(--color2);
$primary-color: var(--color1);
$white: #ffffff;



.schedules {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .schedules-child1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    p {
      font-size: 14px;
      color: var(--color3);
      font-weight: 300;
      text-transform: uppercase;
    }

    h1 {
      font-size: 36px;
      font-weight: bold;
      color: var(--color3);
      text-transform: uppercase;
    }
  }

  .schedules-child2 {
    width: 100%;
    border-radius: 10px;
    background-color: $schedule-bg;
    padding: 20px;

    .tabs {
      display: flex;
      overflow-x: auto;
      margin-bottom: 20px;

      .tab {
        flex: 0 0 auto;
        padding: 10px;
        text-align: left;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 4px solid transparent;
        color: $text-light;

        &.active {
          border-color: $primary-color;
        }
      }
    }

    .tab-content {
      background-color: $schedule-bg;
      padding: 20px;

      .event {
        display: flex;
        justify-content: left;
        align-items: center;
        border-bottom: 1px solid #707070;
        padding: 20px 0;
        gap: 20%;
        .time {
          font-weight: bold;
          color: $white;
          min-width: 80px;
          text-align: left;
        }
        .event-header {
          display: flex;
          align-items: right;
          gap: 15px;
          flex-direction: column;
          .title {
            font-weight: bold;
            font-size: 16px;
            color: $white;
            flex-grow: 1;
            text-align: left;
          }
        }

        .speakers {
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: $white;
          text-align: left;
          align-items: flex-start;

          .speaker {
            font-size: 20px;
            text-align: left;

            strong {
              color: $primary-color;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  
}
@media (max-width: 1024px) {
  .schedules {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    .schedules-child1 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
  
      p {
        font-size: 14px;
        color: var(--color3);
        font-weight: 300;
        text-transform: uppercase;
      }
  
      h1 {
        font-size: 36px;
        font-weight: bold;
        color: var(--color3);
        text-transform: uppercase;
      }
    }
  
    .schedules-child2 {
      width: 100%;
      border-radius: 10px;
      background-color: $schedule-bg;
      padding: 20px;
  
      .tabs {
        display: flex;
        overflow-x: auto;
        margin-bottom: 20px;
  
        .tab {
          flex: 0 0 auto;
          padding: 10px;
          text-align: left;
          font-weight: bold;
          cursor: pointer;
          border-bottom: 4px solid transparent;
          color: $text-light;
  
          &.active {
            border-color: $primary-color;
          }
        }
      }
  
      .tab-content {
        background-color: $schedule-bg;
        padding: 20px;
  
        .event {
          display: flex;
          justify-content: left;
          align-items: center;
          border-bottom: 1px solid #707070;
          padding: 20px 0;
          gap: 20%;
          .time {
            font-weight: bold;
            color: $white;
            min-width: 80px;
            text-align: left;
          }
          .event-header {
            display: flex;
            align-items: right;
            gap: 15px;
            flex-direction: column;
            .title {
              font-weight: bold;
              font-size: 16px;
              color: $white;
              flex-grow: 1;
              text-align: left;
            }
          }
  
          .speakers {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: $white;
            text-align: left;
            align-items: flex-start;
  
            .speaker {
              font-size: 20px;
              text-align: left;
  
              strong {
                color: $primary-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  
    
  }
}
@media (max-width: 800px) {
  .schedules {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    .schedules-child1 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
  
      p {
        font-size: 14px;
        color: var(--color3);
        font-weight: 300;
        text-transform: uppercase;
      }
  
      h1 {
        font-size: 36px;
        font-weight: bold;
        color: var(--color3);
        text-transform: uppercase;
      }
    }
  
    .schedules-child2 {
      width: 100%;
      border-radius: 10px;
      background-color: $schedule-bg;
      padding: 20px;
  
      .tabs {
        display: flex;
        overflow-x: auto;
        margin-bottom: 20px;
  
        .tab {
          flex: 0 0 auto;
          padding: 10px;
          text-align: left;
          font-weight: bold;
          cursor: pointer;
          border-bottom: 4px solid transparent;
          color: $text-light;
  
          &.active {
            border-color: $primary-color;
          }
        }
      }
  
      .tab-content {
        background-color: $schedule-bg;
        padding: 20px;
  
        .event {
          display: flex;
          justify-content: left;
          align-items: center;
          border-bottom: 1px solid #707070;
          padding: 20px 0;
          gap: 20px;
          .time {
            font-weight: bold;
            color: $white;
            min-width: 80px;
            text-align: left;
          }
          .event-header {
            display: flex;
            align-items: right;
            gap: 15px;
            flex-direction: column;
            .title {
              font-weight: bold;
              font-size: 16px;
              color: $white;
              flex-grow: 1;
              text-align: left;
            }
          }
  
          .speakers {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: $white;
            text-align: left;
            align-items: flex-start;
  
            .speaker {
              font-size: 20px;
              text-align: left;
  
              strong {
                color: $primary-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  
    

  }
}
@media (max-width: 480px) {
  .schedules {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  
    .schedules-child1 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
  
      p {
        font-size: 14px;
        color: var(--color3);
        font-weight: 300;
        text-transform: uppercase;
      }
  
      h1 {
        font-size: 36px;
        font-weight: bold;
        color: var(--color3);
        text-transform: uppercase;
      }
    }
  
    .schedules-child2 {
      width: 100%;
      border-radius: 10px;
      background-color: $schedule-bg;
      padding: 20px;
  
      .tabs {
        display: flex;
        overflow-x: auto;
        margin-bottom: 20px;
  
        .tab {
          flex: 0 0 auto;
          padding: 10px;
          text-align: left;
          font-weight: bold;
          cursor: pointer;
          border-bottom: 4px solid transparent;
          color: $text-light;
  
          &.active {
            border-color: $primary-color;
          }
        }
      }
  
      .tab-content {
        background-color: $schedule-bg;
        padding: 20px;
  
        .event {
          display: flex;
          justify-content: left;
          align-items: center;
          flex-direction: column;
          border-bottom: 1px solid #707070;
          padding: 20px 0;
          gap: 20px;
          .time {
            font-weight: bold;
            color: $white;
            min-width: 80px;
            text-align: center;
          }
          .event-header {
            display: flex;
            align-items: center;
            gap: 15px;
            flex-direction: column;
            .title {
              font-weight: bold;
              font-size: 16px;
              color: $white;
              flex-grow: 1;
              text-align: center;
            }
          }
  
          .speakers {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: $white;
            text-align: center;
            align-items:center;
  
            .speaker {
              font-size: 20px;
              text-align: center;
  
              strong {
                color: $primary-color;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  
    

  }
}