:root {
  --color1: #e60013;
  --color2: #ecf9fc;
  --color3: #1e1e1e;
  --color4: #fff6e9;
}
.speakerDetails {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
  &_wrapper1 {
    position: relative;
    top: -50px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    background-image: url("../assets/speakerBg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    h1 {
      font-size: 70px;
      color: var(--color3);
      line-height: 120px;
    }
    p {
      color: var(--color3);
      text-transform: capitalize;
      font-weight: 400;
      word-spacing: 10px;
    }
  }
  &_wrapper2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px 5%;

    &_child-1 {
      width: 40%;
      height:35rem;
      border-radius: 15px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 0 10px rgb(232, 232, 232);
      &_card-border-top {
        width: 70%;
        height: 5%;
        background: var(--color3);
        margin: auto;
        border-radius: 0px 0px 15px 15px;
        transition: all 0.8s ease-in-out;
      
      }
      &_img {
        width: 80%;
        height: 50%;
        background: rgb(189, 187, 187);
        border-radius: 50%;
        margin: auto;
        margin-top: 25px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      span {
        font-weight: 600;
        color: black;
        text-align: center;
        display: block;
        padding-top: 10px;
        font-size: 30px;
      }
      &_job {
        font-weight: 400;
        color: black;
        display: block;
        text-align: center;
        padding: 20px 30px;
        font-size: 18px;
      }
    }
    &_child-2 {
      width: 60%;
      height: 100%;
    }
  }
  &_wrapper3 {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;

    button {
      position: relative;
      border: none;
      color: white;
      background-color: var(--color3);
      font-size: 20px;
      padding: 15px 25px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      p,
      i {
        z-index: 2;
      }
    }
    button:hover {
      transform: scale(1.1);
      color: white;
    }

    button:nth-child(1):before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: var(--color1);
      position: absolute;
      top: -100px;
      left: -60px;
      z-index: 1;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
    }

    button:nth-child(1):hover {
      &::before {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 0%;
        animation: beforeAnimation1 1s 1;
      }
    }

    button:nth-child(2)::before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: var(--color1);
      position: absolute;
      top: -100px;
      right: -60px;
      z-index: 1;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
    }
    button:nth-child(2):hover {
      &::before {
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        border-radius: 0%;
      }
    }
  }
}

.mySwiper {
  width: 100%;
  height: 82vh;
  border-radius: 20px; 
  background-color: white;
  box-shadow: 0 0 10px rgb(232, 232, 232);
  .SpeakerD_childSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    overflow: hidden;
    padding: 50px 0px;
    &_brother_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 70%;
      height: 100%;
      border-right: 1px solid rgb(236, 236, 236);
      padding: 0px 10px;
      p {
        color: var(--color3);
        font-size: 18px;
      }
    }
    &_brother_2 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0px 10px;
      div {
        line-height: 35px;
        p {
          color: var(--color3);
        }
        h1 {
          font-size: 32px;
          color: var(--color3);
        }
      }
      p {
        font-size: 18px;
        color: var(--color3);
        font-style: italic;
      }
    }
  }
}

@media (max-width: 1024px) {
  .speakerDetails {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
    &_wrapper1 {
      position: relative;
      top: -50px;
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0px;
      background-image: url("../assets/speakerBg-image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      h1 {
        font-size: 70px;
        color: var(--color3);
        line-height: 120px;
      }
      p {
        color: var(--color3);
        text-transform: capitalize;
        font-weight: 400;
        word-spacing: 10px;
      }
    }
    &_wrapper2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      padding: 10px 5%;
  
      &_child-1 {
        width: 40%;
        height:35rem;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 0 10px rgb(232, 232, 232);
        &_card-border-top {
          width: 70%;
          height: 5%;
          background: var(--color3);
          margin: auto;
          border-radius: 0px 0px 15px 15px;
          transition: all 0.8s ease-in-out;
        
        }
        &_img {
          width: 80%;
          height: 50%;
          background: rgb(189, 187, 187);
          border-radius: 50%;
          margin: auto;
          margin-top: 25px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        span {
          font-weight: 600;
          color: black;
          text-align: center;
          display: block;
          padding-top: 10px;
          font-size: 30px;
        }
        &_job {
          font-weight: 400;
          color: black;
          display: block;
          text-align: center;
          padding: 20px 30px;
          font-size: 18px;
        }
      }
      &_child-2 {
        width: 60%;
        height: 100%;
      }
    }
    &_wrapper3 {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0px;
  
      button {
        position: relative;
        border: none;
        color: white;
        background-color: var(--color3);
        font-size: 20px;
        padding: 15px 25px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        p,
        i {
          z-index: 2;
        }
      }
      button:hover {
        transform: scale(1.1);
        color: white;
      }
  
      button:nth-child(1):before {
        content: "";
        width: 100px;
        height: 100px;
        background-color: var(--color1);
        position: absolute;
        top: -100px;
        left: -60px;
        z-index: 1;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
      }
  
      button:nth-child(1):hover {
        &::before {
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          border-radius: 0%;
          animation: beforeAnimation1 1s 1;
        }
      }
  
      button:nth-child(2)::before {
        content: "";
        width: 100px;
        height: 100px;
        background-color: var(--color1);
        position: absolute;
        top: -100px;
        right: -60px;
        z-index: 1;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
      }
      button:nth-child(2):hover {
        &::before {
          width: 100%;
          height: 100%;
          top: 0px;
          right: 0px;
          border-radius: 0%;
        }
      }
    }
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .mySwiper {
    width: 100%;
    height: 82vh;
    border-radius: 20px; 
    background-color: white;
    box-shadow: 0 0 10px rgb(232, 232, 232);
    .SpeakerD_childSlider {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border-radius: 20px;
      overflow: hidden;
      padding: 50px 0px;
      &_brother_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        height: 100%;
        border-right: 1px solid rgb(236, 236, 236);
        padding: 0px 10px;
        p {
          color: var(--color3);
          font-size: 18px;
        }
      }
      &_brother_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 10px;
        div {
          line-height: 35px;
          p {
            color: var(--color3);
          }
          h1 {
            font-size: 32px;
            color: var(--color3);
          }
        }
        p {
          font-size: 18px;
          color: var(--color3);
          font-style: italic;
        }
      }
    }
  }
  .swiper-slide {
    height: auto;
    overflow: hidden;
  }
}
@media (max-width: 810px) {
  .speakerDetails {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
    &_wrapper1 {
      position: relative;
      top: -50px;
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0px;
      background-image: url("../assets/speakerBg-image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      h1 {
        font-size: 50px;
        color: var(--color3);
        line-height: 120px;
      }
      
    }
    &_wrapper2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2%;
      padding: 10px 5%;
  
      &_child-1 {
        width: 100%;
        height:32rem;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 0 10px rgb(232, 232, 232);
        &_card-border-top {
          width: 70%;
          height: 5%;
          background: var(--color3);
          margin: auto;
          border-radius: 0px 0px 15px 15px;
          transition: all 0.8s ease-in-out;
        
        }
        &_img {
          width:  35%;
          height: 50%;
          background: rgb(189, 187, 187);
          border-radius: 50%;
          margin: auto;
          margin-top: 25px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        span {
          font-weight: 600;
          color: black;
          text-align: center;
          display: block;
          padding-top: 10px;
          font-size: 30px;
        }
        &_job {
          font-weight: 400;
          color: black;
          display: block;
          text-align: center;
          padding: 20px 30px;
          font-size: 18px;
        }
      }
      &_child-2 {
        width: 100%;
        height: 100%;
      }
    }
    &_wrapper3 {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0px;
  
      button {
        position: relative;
        border: none;
        color: white;
        background-color: var(--color1);
        font-size: 18px;
        padding: 12px 18px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        p,
        i {
          z-index: 2;
        }
      }
    }
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .mySwiper {
    width: 100%;
    height: 30vh;
    border-radius: 20px; 
    background-color: white;
    box-shadow: 0 0 10px rgb(232, 232, 232);
    .SpeakerD_childSlider {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      border-radius: 20px;
      overflow: hidden;
      padding: 50px 0px;
      &_brother_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        height: 100%;
        border-right: 1px solid rgb(236, 236, 236);
        padding: 0px 10px;
        p {
          color: var(--color3);
          font-size: 18px;
        }
      }
      &_brother_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 10px;
        div {
          line-height: 35px;
          p {
            color: var(--color3);
          }
          h1 {
            font-size: 32px;
            color: var(--color3);
          }
        }
        p {
          font-size: 18px;
          color: var(--color3);
          font-style: italic;
        }
      }
    }
  }
  .swiper-slide {
    height: auto;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .speakerDetails {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
    &_wrapper1 {
      position: relative;
      top: -50px;
      width: 100%;
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0px;
      background-image: url("../assets/speakerBg-image.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      h1 {
        font-size: 40px;
        color:var(--color3);
        line-height: 120px;
      }
      
    }
    &_wrapper2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2%;
      padding: 10px 5%;
  
      &_child-1 {
        width: 100%;
        height:30rem;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0 0 10px rgb(232, 232, 232);
        &_card-border-top {
          width: 70%;
          height: 5%;
          background: var(--color3);
          margin: auto;
          border-radius: 0px 0px 15px 15px;
          transition: all 0.8s ease-in-out;
        
        }
        &_img {
          width:  45%;
          height: 35%;
          background: rgb(189, 187, 187);
          border-radius: 50%;
          margin: auto;
          margin-top: 25px;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        span {
          font-weight: 600;
          color: black;
          text-align: center;
          display: block;
          padding-top: 10px;
          font-size: 30px;
        }
        &_job {
          font-weight: 400;
          color: black;
          display: block;
          text-align: center;
          padding: 20px 30px;
          font-size: 18px;
        }
      }
      &_child-2 {
        width: 100%;
        height: 100%;
      }
    }
    &_wrapper3 {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0px;
  
      button {
        position: relative;
        border: none;
        color: white;
        background-color: var(--color1);
        font-size: 18px;
        padding: 12px 18px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        p,
        i {
          z-index: 2;
        }
      }
    }
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  .mySwiper {
    width: 100%;
    height: 45vh;
    border-radius: 20px; 
    background-color: white;
    box-shadow: 0 0 10px rgb(232, 232, 232);
    .SpeakerD_childSlider {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      overflow: hidden;
      padding: 30px 20px;
      &_brother_1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        width: 100%;
        height: 20%;
        border: none;
        border-bottom: 1px solid rgb(236, 236, 236);
        padding: 0px 10px;
        p {
          color: var(--color3);
          font-size: 18px;
        }
      }
      &_brother_2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 10px;
        div {
          line-height: 35px;
          p {
            font-size: 18px;
            color: var(--color3);
          }
          h1 {
            font-size: 25px;
            color: var(--color3);
          }
        }
        p {
          font-size: 14px;
          color: var(--color3);
          font-style: italic;
        }
      }
    }
  }
  .swiper-slide {
    height: auto;
    overflow: hidden;
  }
}
