.top_nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 90px;
  &_child-1 {
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }
  &_child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .telephone_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      div {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 5px;
        p:nth-child(1) {
          text-transform: uppercase;
        }
        p:nth-child(2) {
          color: var(--color10);
        }
      }
    }
    .watch_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      div {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 5px;
        p:nth-child(1) {
          text-transform: uppercase;
        }
        p:nth-child(2) {
          color: var(--color10);
        }
      }
    }
    .location_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      div {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 5px;
        p:nth-child(1) {
          text-transform: uppercase;
        }
        p:nth-child(2) {
          color: var(--color10);
        }
      }
    }
  }
}
