.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 10px;

  .schedule-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;

    & > div {
      flex: 1 1 45%;
      background: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;

          label {
            font-size: 14px;
            font-weight: 500;
            width: 30%;
          }

          input,
          select {
            flex: 1;
            height: 45px;
            padding: 10px;
            border: 1px solid #1e90ff;
            border-radius: 5px;
            font-size: 14px;
          }

          input::placeholder,
          select::placeholder {
            color: gray;
            font-size: 14px;
            font-weight: 400;
          }

          select {
            background-color: #fff;
            color: #333;
            &:hover {
              background-color: #f0f0f0;
            }
          }
        }

        button {
          width: 40%;
          padding: 10px 0;
          font-size: 18px;
          font-weight: 500;
          text-transform: capitalize;
          border: none;
          background-color: green;
          color: #fff;
          border-radius: 5px;
          transition: background-color 0.3s ease-in-out;
          align-self: flex-start;
          cursor: pointer;

          &:hover {
            background-color: rgb(2, 173, 2);
          }
        }
      }
    }
  }

  .schedule-table {
    width: 100%;
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
        word-break: break-word;
      }

      th {
        background-color: var(--color1);
        color: var(--color2);
        font-weight: 600;
        text-transform: uppercase;
      }

      td {
        width: 10%;
        background-color: var(--color3);
        color: #fff;
        vertical-align: top;
      }

      .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        button {
          width: 100%;
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 400;
          border: none;
          background-color: dodgerblue;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: rgb(0, 123, 255);
          }
        }
        button:nth-child(1) {
          color: var(--color3);
          background-color: yellow;
          &:hover {
            background-color: rgba(255, 255, 0, 0.793);
          }
        }
        button:nth-child(2) {
          color: var(--color3);
          background-color: var(--color1);
          &:hover {
            background-color: rgba(255, 0, 0, 0.82);
          }
        }
      }
    }
  }

  // ------------ Modal Section ------------
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 999;

    h3 {
      margin-bottom: 10px;
      color: #333;
      text-align: center;
    }

    .edit-field {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      label {
        font-size: 14px;
        color: #333;
        font-weight: 600;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #1e90ff;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
      }
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: green;
      color: #fff;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: rgb(2, 173, 2);
      }
    }
  }
}
